%ul.nav.navbar-nav.pull-right
  - if current_user
    %li{:class=>(request.path == logins_path ? 'active':'')}
      = link_to t('.last_logins'), logins_path
    %li
      = link_to t('.sign_out'), sign_out_path(:authenticity_token => form_authenticity_token()), :method => :delete
  - else
    %li{:class=>(request.path == sign_up_path ? 'active':'')}
      = link_to t('.sign_up'), sign_up_path